:root
  --border-color grey
  --text-color #2c3e50
  --focus-color green
  --active-color lightgrey

*,
*:before,
*:after
  box-sizing border-box
  
body 
  margin 0

input, button, select
  font inherit
  
html 
  font-family Arial, sans-serif
  font-size 16px
  text-align center
  color var(--text-color)
  
.container
  padding 0 1em
  